[Unit]
Description=Kinetic WSGI Service
Documentation=pending
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=root
Group=root
PIDFile=/var/tmp/kinetic.pid
WorkingDirectory=/opt/kinetic

ExecStart=/opt/kinetic/venv/bin/gunicorn --pid /var/tmp/kinetic.pid --pythonpath /opt/kinetic/kinetic --config /opt/kinetic/gunicorn.py kinetic.wsgi

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
