{% extends 'base.html' %}
{% block title %}Checklist Report{% endblock %}

{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-body rounded">
<table class="table table-sm table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"><p class="text-center">Email</p></th>
      <th scope="col"><p class="text-center">RT Monitor</p></th>
      <th scope="col"><p class="text-center">Cacti</p></th>
      <th scope="col"><p class="text-center">Steelhead</p></th>
      <th scope="col"><p class="text-center">Velocloud</p></th>
      <th scope="col"><p class="text-center">RBping</p></th>
      <th scope="col"><p class="text-center">Username</p></th>
    </tr>
  </thead>
  <tbody>
    {% for item in clInput %}
    <tr>
      <th class="text-nowrap" scope="row">{{ item.date_created }}</th>
      <td><p class="text-center">{{ item.c1_comment }}</p></td>
      <td><p class="text-center">{{ item.c2_comment }}</p></td>
      <td><p class="text-center">{{ item.c3_comment }}</p></td>
      <td><p class="text-center">{{ item.c4_comment }}</p></td>
      <td><p class="text-center">{{ item.c5_comment }}</p></td>
      <td><p class="text-center">{{ item.c6_comment }}</p></td>
      <td><p class="text-center"><code>{% for u in User %}{% if u.id == item.user_id %}{{ u.username }}{% endif %}{% endfor %}</code></p></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}