{% include '_layout.html' %}

<div class="container-fluid text-center">
    <h1>Agent {{ agent.name }}</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{ agent.id }}</dd>
                <dt>Name</dt>
                <dd>{{ agent.name }}</dd>
                <dt>Address</dt>
                <dd>{{ agent.address }}</dd>
                <dt>Description</dt>
                <dd>{{ agent.description }}</dd>
                <dt>Last Seen</dt>
                <dd>{{ agent.last_seen }}</dd>
            </dl>
        </div>
        <div class="col container-fluid shadow-lg p-3 mb-5 bg-body rounded">
            <table class="table" id="sortable">
                <thead>
                    <tr>
                        <th colspan="2" scope="col"></th>
                        <th colspan="3" class="table-primary text-center" scope="col">Current</th>
                        <th colspan="5" class="table-secondary text-center" scope="col">Average</th>
                        <th colspan="1" scope="col"></th>
                    </tr>
                    <tr>
                        <th scope="col">Host</th>
                        <th scope="col">Address</th>
                        <th class="table-primary text-center" scope="col">State</th>
                        <th class="table-primary text-center" scope="col">Median</th>
                        <th class="table-primary text-center" scope="col">Loss</th>
                        <th class="table-secondary text-center" scope="col">Median</th>
                        <th class="table-secondary text-center" scope="col">Minimum</th>
                        <th class="table-secondary text-center" scope="col">Maximum</th>
                        <th class="table-secondary text-center" scope="col">Std Dev</th>
                        <th class="table-secondary text-center" scope="col">Loss</th>
                        <th scope="col">Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> #HOST# </td>
                        <td> #ADDRESS# </td>
                        <td class="table-primary text-center"> #STATE# </td>
                        <td class="table-primary text-center"> #MEDIAN# </td>
                        <td class="table-primary text-center"> #LOSS# </td>
                        <td class="table-secondary text-center"> #AVG_MED# </td>
                        <td class="table-secondary text-center"> #AVG_MIN# </td>
                        <td class="table-secondary text-center"> #AVG_MAX# </td>
                        <td class="table-secondary text-center"> #AVG_STD# </td>
                        <td class="table-secondary text-center"> #AVG_LOSS# </td>
                        <td> #LAST UPDATE# </td>
                    </tr>
                    <tr>
                        <td> #HOST# </td>
                        <td> #ADDRESS# </td>
                        <td class="table-primary text-center"> #STATE# </td>
                        <td class="table-primary text-center"> #MEDIAN# </td>
                        <td class="table-primary text-center"> #LOSS# </td>
                        <td class="table-secondary text-center"> #AVG_MED# </td>
                        <td class="table-secondary text-center"> #AVG_MIN# </td>
                        <td class="table-secondary text-center"> #AVG_MAX# </td>
                        <td class="table-secondary text-center"> #AVG_STD# </td>
                        <td class="table-secondary text-center"> #AVG_LOSS# </td>
                        <td> #LAST UPDATE# </td>
                    </tr>
                    <tr>
                        <td> #HOST# </td>
                        <td> #ADDRESS# </td>
                        <td class="table-primary text-center"> #STATE# </td>
                        <td class="table-primary text-center"> #MEDIAN# </td>
                        <td class="table-primary text-center"> #LOSS# </td>
                        <td class="table-secondary text-center"> #AVG_MED# </td>
                        <td class="table-secondary text-center"> #AVG_MIN# </td>
                        <td class="table-secondary text-center"> #AVG_MAX# </td>
                        <td class="table-secondary text-center"> #AVG_STD# </td>
                        <td class="table-secondary text-center"> #AVG_LOSS# </td>
                        <td> #LAST UPDATE# </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>