{% extends '_layout.html' %}
{% block body %}
<div class="container-fluid text-center">
    <h1>{{ title }} Server Console</h1>
    <p>{{ description }}</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light">
            <h3>Agents</h3>
            <ul class="list-group">
                {% for agent in agents %}
                <li class="list-group-item{% if not responding[loop.index0] %} list-group-item-danger{% endif %}">
                    <a href="agent/{{ agent.id }}"{% if not responding[loop.index0] %} title="{{ last_seen[loop.index0] }}" data-toggle="tooltip"{% endif %}>
                        {{ agent.name }}
                    </a>
                </li>
                {% endfor %}
        </div>
        <div class="col">
            <h3>Server Statistics</h3>
            <p>Uptime is {{ stats.server_run_time }}.</p>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 100px;">&nbsp;</th>
                        <th scope="col" style="width: 100px;">Active</th>
                        <th scope="col" style="width: 100px;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Agents</td>
                        <td>{{ stats.active_agents }}</td>
                        <td>{{ stats.total_agents }}</td>
                    </tr>
                    <tr>
                        <td>Hosts</td>
                        <td>{{ stats.active_hosts }}</td>
                        <td>{{ stats.total_hosts }}</td>
                    </tr>
                    <tr>
                        <td>Monitors</td>
                        <td>{{ stats.active_monitors }}</td>
                        <td>{{ stats.total_monitors }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock body %}