{% extends '_layout.html' %}
{% block body %}
<div class="container-fluid text-center">
    <h1>{{ title }} Server Console</h1>
    <p>{{ description }}</p>
</div>

<div class="container-fluid">
    <div class="row">
        {% if agents|length != 0 %}
        <div class="col-2 bg-light">
            <h3>Agents</h3>
            <ul class="list-group">
                {% for agent in agents|sort(attribute='name') %}
                <li class="list-group-item{% if not responding[loop.index0] %} list-group-item-danger{% endif %}">
                    <a href="/console/agent/{{ agent.id }}"{% if not responding[loop.index0] %} title="Last seen {{ last_seen[loop.index0] }}" data-toggle="tooltip"{% endif %}>
                        {{ agent.name }}
                    </a>
                </li>
                {% endfor %}
        </div>
        {% endif %}
        <div class="col">
            <h3>Server Runtime</h3>
                   <ul>
                        <li>Server time: {% if stats.server_timezone != "UTC" %}{{ stats.server_localtime }} ({{ stats.server_timezone }})</li>
                        <li>UTC time: {% endif %}{{ stats.server_utc_time }}</li>
                        <li>Uptime is {{ stats.server_run_time }}</li>
                    </ul>

            <h3>Monitoring Statistics</h3>
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col" class="text-center">Active</th>
                            <th scope="col" class="text-center">Disabled</th>
                            <th scope="col" class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Agents</td>
                            <td class="text-center">{{ stats.active_agents }}</td>
                            <td class="text-center">{{ stats.disabled_agents }}</td>
                            <td class="text-center">{{ stats.total_agents }}</td>
                        </tr>
                        <tr>
                            <td>Hosts</td>
                            <td class="text-center">{{ stats.active_hosts }}</td>
                            <td class="text-center">{{ stats.disabled_hosts }}</td>
                            <td class="text-center">{{ stats.total_hosts }}</td>
                        </tr>
                        <tr>
                            <td>Monitors</td>
                            <td class="text-center">{{ stats.active_monitors }}</td>
                            <td class="text-center">{{ stats.disabled_monitors }}</td>
                            <td class="text-center">{{ stats.total_monitors }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% endblock body %}