{% include '_layout.html' %}

<div class="d-flex align-items-center justify-content-center">
  <div class="content-center shadow-lg p-3 mb-5 bg-body rounded" style="width: 730px;">
    <h1>#</h1>

    <div class="row">
      <div class="col text-center">
        <h3>Source</h3>
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd>{{ agent.id }}</dd>
          <dt>Name</dt>
          <dd>{{ agent.name }}</dd>
          <dt>Address</dt>
          <dd>{{ agent.address }}</dd>
          <dt>Description</dt>
          <dd>{{ agent.description }}</dd>
        </dl>
      </div>
      <div class="col text-center">
        <h3>Destination</h3>
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd>{{ host.id }}</dd>
          <dt>Address</dt>
          <dd>{{ host.address }}</dd>
          <dt>Description</dt>
          <dd>{{ host.description }}</dd>
      </div>
    </div>
    
    <br />
  
    <div class="col">
      <img src="#" alt="{{ address }} graph" />
    </div>
    
    <br />
  
    {% if multi %}
    <div class="col">
      <a href="../?query=#" class="link-light text-decoration-none">
        <img src="#" alt="{{ hostname }} multi graph" />
      </a>
    </div>
    
    <br />
    {% endif %}
  
    <div class="col" style="width: 695px;">
      <form action="#" method="GET">
        <div class="input-group">
          <span class="input-group-text">#</span>
          <input type="datetime-local" class="form-control" name="start" value="{{ start }}" />
          <input type="datetime-local" class="form-control" name="end" value="{{ end }}" />
          <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  
  </div>
</div>  